#root {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

* {
  user-select: none;
}

#root>div {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
}

.app {
  overflow: hidden;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 {
  font-family: 'Arial';
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

h2 {
  font-family: Georgia;
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

.swipe {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cardContainer {
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 400px;
  height: 100vh;
  margin-bottom: 20px;
}

.card {
  margin: auto;
  position: relative;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  background-size: auto;
}

.card img {
  width: 150%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.card p {
  position: be;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.cardContent {
  width: 300px;
  height: auto;
}

.swipe:last-of-type {

}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.infoText {
  width: 100%;
  justify-content: center;
  display: flex;
  color: #fff;
  animation-name: popup;
  animation-duration: 800ms;
}

.buttons {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 625px) {
  .buttons {
    flex-direction: column;
  }
}

.buttons button {
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  background-color: #9198e5;
  transition: 200ms;
  margin: 10px;
  font-weight: bolder;
  width: 160px;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.10);
}

.buttons button:hover {
  transform: scale(1.05);
}

.tinderCardWrapper {
  height: 100%;
}

img.artwork-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  overflow: visible;
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}

#main-container {
  margin-top: 30px;
  
}

#home-container {
  margin-top: 30px;
  margin: auto;
}

#home-description {
  display: flex;
  justify-content: center;
}

#home-hero {
  display: flex;
  margin: auto;
}

#auth-group {
  display: flex;
  justify-content: center;
}

.auth-button {
  margin-right: 7px;
}

.card {
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  will-change: transform, opacity;
}

.cardContainer {
  display: block;
  width: 500px;
  height: 500px;
  margin: auto; 
}

.nav-container.container {
  max-width: fit-content;
}

h1 {
  justify-content: center;
  display:flex;
}