  /* common styles */
/* #root {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
} */
/* 
#root>div {
  display: flex;
  flex-direction: column;
} */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.app {
  overflow: hidden;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-family: 'Arial';
  position: center;
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

h2 {
  font-family: Arial;
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

.swipe {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cardContainer {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 400px;
  height: auto;
  margin-bottom: 20px;
}

.card {
  text-align: center;
  margin: auto;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.7);
  background-size: cover;
  background-position: center;
  background-size: auto;
}

.card img {
  width: 200%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.card p {
  position: below;
  text-align: center;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.cardContent {
  width: 300px;
  height: auto;
}

.card h3 {
  position: absolute;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.buttons {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.tinderCardWrapper {
  height: 100%;
  position: center;
}

img.artwork-image {
  width: 100%;
  height: auto;
  object-fit: contain;
  overflow: visible;
}

#main-container {
  margin-top: 30px;
}
  

/*below are the styles for light and dark mode*/


  /* light-theme styles */
  [data-theme="light"] {
    background-color: #f3eedd;
    color: #000;
  }

[data-theme="light"] h2 {
    font-family: 'Arial';
    color: #000;
    text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  }

[data-theme="light"] h1 {
    font-family: 'Arial';
    color: #000;
    text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  }

[data-theme="light"] p {
    color: darkgrey;
  }
  
  /* dark-theme styles */
[light-theme="dark"] {
    background-color: #292929;
    color: #fff;
  }

[light-theme="dark"] h2 {
    font-family: 'Arial';
    color: #fff;
    text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);

}

[light-theme="dark"] h1 {
    font-family: 'Arial';
    color: #fff;
    text-shadow:0px 0px 60px 0px rgba(0,0,0,0.30);
}

[light-theme="dark"] p {
    color: #fff;
    text-shadow:0px 0px 60px 0px rgba(0, 0, 0, 0.3);
  }
