#root {
  text-align: center;
display: flex;
       justify-content: center;
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  /* background: linear-gradient(#fff, #999); */
  background: linear-gradient(#57534e, #808080);
}

* {
  user-select: none;
}

#root>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  overflow: hidden;
}

.app>div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  flex-direction: row !important;
}

.row>* {
  margin: 5px;
}

h1 {
  font-family: 'Arial';
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

h2 {
  font-family: Georgia;
  color: #fff;
  text-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
}

.swipe {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cardContainer {
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-width: 400px;
  height: 100vh;
  margin-bottom: 20px;
}

.card {
  margin: auto;
  position: relative;
  width: 80vw;
  max-width: 260px;
  height: 300px;
  box-shadow: 0px 0px 60px 0px rgba(0,0,0,0.30);
  border-radius: 30px;
  background-size: cover;
  background-position: center;
  background-size: auto;
}

.card img {
  width: 150%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.card p {
  position: be;
  bottom: 0;
  margin: 10px;
  color: #fff;
}

.cardContent {
  width: 300px;
  height: auto;
}
